# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ini

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Oo]bj/
[Bb]in/
[Ll]og/
[Ll]ogs/
[Tt]est[Rr]esults/
*.ilk
*.pdb
*.idb
*.ipch/
*.aps
*.ncb
*.sdf
*.opensdf
*.suo
*.sln.docstates

# Others
*.dbmdl
*.dbproj.schemaview
*.jfm
*.jfmproj
*.pfx
*.publish.xml
*.publishproj
*.map
*.cache
*.log
*.dmp

# Config
.vs/
.vscode/

# Custom
captures/
